.mainBG{
    background-image: linear-gradient(to top left,var(--bg-color-primary),var(--bg-color-secondary),var(--bg-color-tertiary));
    height: 100lvh;
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
    opacity: 1;
}
.mainContent{
    height: 100%;
    position: relative;
    width: 100%;
    opacity: 1;
}

* {
    color: var(--ft-color-primary);
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.bg{
    background-image: url('../../../public/img/bt-background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    left: 0;
    opacity: 0.1;
}
.IntroFlex{
    display: flex;
    justify-content: center;
    height: 100lvh;
    align-items: center;
    gap: 2rem;
}
.AboutFlex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100lvh;
    height: 100%;
    align-items: center;
    gap: 2rem;
}
.ExpFlex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100lvh;
    height: 100%;
    align-items: center;
    gap: 2rem;
}
.ProjFlex{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100lvh;
    height: 100%;
    align-items: center;
    gap:4rem;
}
.ContactFlex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100lvh;
    height: 100%;
    align-items: center;
}
@media only screen and (max-width: 1000px){
    .IntroFlex{
        flex-direction: column;
    }
}
@media only screen and (min-width: 1000px){
}